# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

language: swift
osx_image: xcode10.2

# podfile: Example/Podfile
# xcode_workspace: Example/NavigationAndStyle.xcworkspace # path to your xcworkspace folder
# xcode_scheme: NavigationAndStyle-Example
# xcode_destination: platform=iOS Simulator,OS=11.0,name=iPhone Xs

# cache: cocoapods
before_install:
- gem install cocoapods # Since Travis is not always on latest version
- pod install --project-directory=Example
script:
- set -o pipefail && xcodebuild test -enableCodeCoverage YES -workspace Example/NavigationAndStyle.xcworkspace -scheme NavigationAndStyle-Example -destination 'platform=iOS Simulator,name=iPhone Xs' ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint
